.avatar {
    width: 49px;
    height: 49px;
    object-fit: cover;
    padding: .1rem;
    border-radius: .4rem;
    box-sizing: initial;
}

.avatarWithBorder { 
    width: 49px;
    height: 49px;
    object-fit: cover;
    border: 1px solid var(--cards);
    outline: 2px solid var(--blue);
    padding: .1rem;
    border-radius: .4rem;
    box-sizing: initial;
}

